.div-registros{
    width: 50%;
    height: 500px;
    /* border: 1px solid; */
}

.tabela-notas{
    width: 100%;
    height: 450px;
    border: 1px solid;
}

.btn-adicionar-nota{
    width: 100%;
    height: 50px;
}