main {
    display: grid;
    justify-items: center;
}

.div-registros{
    max-width: 800px;
    width: 100%;
    margin:auto;
    display: grid;
}

#tabela-notas{
    width: 100%;
    border: 1px solid;
}

#container {
    width: 100%;
}

tr:hover {
    background-color: #ededed;
}

tr:active {
    background-color: #d9d9d9;
}

button {
    background-color: green;
}